@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 340px;
  font-family: 'Poppins', sans-serif;
  background: palegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container-calculator {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  background: #aaa;
  flex-shrink: 0;
  height: 100px;
  border: 4px solid black;
  border-radius: 8px;
  font-size: 72px;
  padding: 0 10px;
}

.container-buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

button {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 3px solid black;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

button#restart {
  background: seagreen
}

button#number {
  background: steelblue
}

button#operator {
  background: sandybrown;
}

button#equal {
  background: olivedrab;
}